.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a,
.logo a,
.search-icon a {
  text-decoration: none;
  color: white;
}